language: generic

script:
  - echo nothing to do, will add tests later

after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
      docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
      docker build -t "guggero/docker-wallet-control:latest" .;
      docker build -t "guggero/docker-wallet-control:$TRAVIS_BUILD_NUMBER" .;
      docker push "guggero/docker-wallet-control:latest";
      docker push "guggero/docker-wallet-control:$TRAVIS_BUILD_NUMBER";
    fi
